{% extends 'base.html.twig' %}

{% block title %}Mise à jour du profil{% endblock %}

{% block body %}
<div class="container">
    <h1>Mise à jour du profil</h1>

    <form method="post">
        <div class="mb-3">
            <label for="firstname" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="firstname" name="firstname" value="{{ user.firstname }}">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Nom</label>
            <input type="text" class="form-control" id="lastname" name="lastname" value="{{ user.lastname }}">
        </div>
        <div class="mb-3">
            <label for="subscriptionId" class="form-label">Abonnement</label>
            <select class="form-control" id="subscriptionId" name="subscriptionId">
                {% for subscription in subscriptions %}
                    <option value="{{ subscription.id }}" {% if user.subscriptionId == subscription %}selected{% endif %}>
                        {{ subscription.title }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </form>
</div>
{% endblock %}
