{% block body %}
    <h1>Historique des PDF</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Date de création</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for pdf in pdfs %}
                <tr>
                    <td>{{ pdf.title }}</td>
                    <td>{{ pdf.createdAt|date('d/m/Y H:i:s') }}</td>
                    <td>
                        <a href="{{ path('app_pdf_view', {'id': pdf.id}) }}" class="btn btn-primary">Visualiser</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}