{% extends 'base.html.twig' %}

{% block title %}Historique des PDF{% endblock %}

{% block body %}
    <h1>Historique des PDF</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Date de création</th>
            </tr>
        </thead>
        <tbody>
            {% for pdf in pdfs %}
                <tr>
                    <td>{{ pdf.title }}</td>
                    <td>{{ pdf.createdAt|date('d/m/Y H:i:s') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
